.image-gallery {
  text-align: center;
  padding: 20px;
}

.image-gallery-title {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.image-item {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 270px;
}

.image {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.image:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  font-size: 20px;
  font-weight: bold;
  background-color: #333;
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
}
.Assignment {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
@media (min-width: 768px) {
  .image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}

@media (max-width: 767px) {
  .image-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .image-item {
    height: 225px;
  }
}
